{% form_theme form 'bootstrap_4_layout.html.twig' %}  
{{ form_start(form) }}
<div class="form-row">
	<div class="form-group col-md-4" >
 	<label for="">Type </label>
 	 {{ form_widget(form.type) }} 
 </div>
 <div class="form-group col-md-4" >
 	<label for="">Intitulé du poste </label>
 	 {{ form_widget(form.libelle) }} 
 </div>
 <div class="form-group col-md-4" >
 	<label for="">Metier </label>
 	 {{ form_widget(form.metier) }} 
 </div>
 <div class="form-group col-md-4" >
 	<label for="">Experience </label>
 	 {{ form_widget(form.experience) }}  
 </div>
 <div class="form-group col-md-4" >
 	<label for="">Lieu </label>
 	 {{ form_widget(form.lieu) }} 
 </div>
  <div class="form-group col-md-4" >
 	<label for="">Niveau </label>
 	 {{ form_widget(form.niveau) }} 
 </div>
 <div class="form-group col-md-12" >
 	<label for="">Description </label>
 	 {{ form_widget(form.description) }} 
 </div>
 <div class="form-group col-md-4" >
 	<label for="">Récruteur </label>
 	 {{ form_widget(form.recruteur) }} 
 </div>
  <div class="form-group col-md-4" >
 	<label for="">Tel: </label>
 	 {{ form_widget(form.tel) }} 
 </div>
 <div class="form-group col-md-4" >
 	<label for="">Email </label>
 	 {{ form_widget(form.email) }} 
 </div>
 <div class="form-group col-md-4" >
 	<label for="">Dossier à fournir </label> 
 	 {{ form_widget(form.dossier) }} 
 </div>
 <div class="form-group col-md-4">
 	<label for="">Date limite </label>
 	 {{ form_widget(form.dateFin) }} 
 </div>
 <div class="form-group col-md-4">
 	<label for="">Image </label>
 	 {{ form_widget(form.image) }}  
 </div>
</div>
 
    {{ form_widget(form) }} 

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    
{{ form_end(form) }}