{% extends 'base.html.twig' %}

{% block title %}Accueil--CJOB!{% endblock %}

{% block body %}

<div class="container-fluid">
    
  
  <!-- Heading Row -->
      <div class="row my-4" id="">
        <div class="col-lg-2" id="pub1">
          {# <h1>ESPACE A LOUER</h1>
          <p>VOTRE ESPACE PUB</p> #}
         <img src="img/eal3.jpg" alt="pub1"> 
        {#   <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> #}
        </div>
        <div class="col-lg-8">
          <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-container">
      
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">


          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style="color:#000 ;">CJOB AU 98025</h2>
                <p style="color:#000;"><b>Reçevez des offres d'emploi par SMS</b></p>
                <a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">POSTULER ICI</a>
                {# <p>
                  
                  <ul class="nav-menu">
                  <li class=""><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Informatique</a> </li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Banque</a></li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Communication</a></li>
         
                  </ul>
                </p> #}
                <p>
                   
                  
                </p>
                
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                {# <h2 style="color:#000 ;">CJOB AU 98025</h2>
                <p style="color:#000;">Reçevez des offres d'emploi par SMS</p> #}
                <a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">POSTULER ICI  </a>
                
                <p>
                    
                  
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/5.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                {# <h2 style="color:#000 ;">CJOB AU 98025</h2>
                <p style="color:#000;">Reçevez des offres d'emploi par SMS</p> #}
                <a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">POSTULER ICI  </a>
                
                <p>
                   
                  
                </p>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
 

      </div>
      {# <section id="facts"  class="wow fadeIn">
      <div class="container">

       
        

      </div>
    </section> #}<!-- #facts -->

    </div>
   
  </section><!-- #intro -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-2" id="pub2">
           <img src="img/eal3.jpg" alt="">
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->


   

</div>
  

  
    
  </main> 
{% endblock %}
