{% extends 'base.html.twig' %}

{% block title %}Accueil--CJOB!{% endblock %}

{% block body %}

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">


          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>CJOB AU 98025</h2>
                <p>L'emploi à porté de main .</p>
                <a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Consulter toutes nos offres  </a>
                {# <p>
                  
                  <ul class="nav-menu">
                  <li class=""><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Informatique</a> </li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Banque</a></li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Communication</a></li>
         
                  </ul>
                </p> #}
                <p>
                    <section id="facts"  class="wow fadeIn">
                    <div class="container">

                      <header class="section-header">
                        
                      </header>

                      <div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">274</span>
                          <p>Entreprises partenaires</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">259</span>
                          <p>Emplois</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">320</span>
                          <p> Stagess</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">401</span>
                          <p>Insertions professionnelles </p>
                        </div>

                      </div>


                    </div>
                  </section><!-- #facts -->
                  
                </p>
                
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Votre assistance conseil </h2>
                <p>Nous nous rapprochons de vous par notre boite de dialogue </p>
                <a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Consulter toutes nos offres  </a>
                {# <p>
                  
                  <ul class="nav-menu">
                  <li class=""><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Informatique</a> </li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">banque</a></li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Communication</a></li>
         
                  </ul>
                </p> #}
                <p>
                    <section id="facts"  class="wow fadeIn">
                    <div class="container">

                      <header class="section-header">
                        
                      </header>

                      <div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">274</span>
                          <p>Entreprises partenaires</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">259</span>
                          <p>Emplois  </p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">320</span>
                          <p> Stages  </p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">401</span>
                          <p>Insertions professionnelles</p>
                        </div>

                      </div>


                    </div>
                  </section><!-- #facts -->
                  
                </p>
              </div>
              
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2> Insertion professionnelle </h2>
                <p>La plateforme de l'emploi et des stages</p>
                <a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Consulter toutes nos offres </a>
                {# <p>
                  
                  <ul class="nav-menu">
                  <li class=""><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Informatique</a> </li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">banque</a></li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Communication</a></li>
         
                  </ul>
                </p> #}
                <p>
                    <section id="facts"  class="wow fadeIn">
                    <div class="container">

                      <header class="section-header">
                        
                      </header>

                      <div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">274</span>
                          <p>Entreprises partenaires</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">259</span>
                          <p>Emplois  </p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">320</span>
                          <p> Stages  </p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">401 </span>
                          <p>Insertions professionnelles  </p>
                        </div>

                      </div>


                    </div>
                  </section><!-- #facts -->
                  
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Merci CJOB</h2>
                <p>votre bien etre , notre priorité</p>
                <a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Consulter toutes nos offres  </a>
                {# <p>
                  
                  <ul class="nav-menu">
                  <li class=""><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Informatique</a> </li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">banque</a></li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Communication</a></li>
         
                  </ul>
                </p> #}
                <p>
                    <section id="facts"  class="wow fadeIn">
                    <div class="container">

                      <header class="section-header">
                        
                      </header>

                      <div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">274</span>
                          <p>Entreprises partenaires</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">259</span>
                          <p>Emplois  </p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">320</span>
                          <p> Stages </p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">401</span>
                          <p>Insertions professionnelles  </p>
                        </div>

                      </div>


                    </div>
                  </section><!-- #facts -->
                  
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/intro-carousel/5.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Des offres d'emplois publiées chaque jours</h2>
                <p>Le service qui lutte contre le chomage</p>
                <a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Consulter toutes nos offres  </a>
                {# <p>
                  
                  <ul class="nav-menu">
                  <li class=""><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Informatique</a> </li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">banque</a></li>
                  <li><a href="{{ path('cj_offres_index') }}" class="btn-get-started scrollto">Communication</a></li>
         
                  </ul>
                </p> #}
                <p>
                    <section id="facts"  class="wow fadeIn">
                    <div class="container">

                      <header class="section-header">
                        
                      </header>

                      <div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">274</span>
                          <p>Entreprises partenaires</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">259</span>
                          <p>Emplois  </p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">320</span>
                          <p> Stages</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                          <span data-toggle="counter-up">401</span>
                          <p>Insertions professionnelles  </p>
                        </div>

                      </div>


                    </div>
                  </section><!-- #facts -->
                  
                </p>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
 

      </div>
      {# <section id="facts"  class="wow fadeIn">
      <div class="container">

       
        

      </div>
    </section> #}<!-- #facts -->

    </div>
  </section><!-- #intro -->

  
    
  </main> 
{% endblock %}
