{% extends 'base.html.twig' %}

{% block title %}Connexion client{% endblock %}

{% block body %}
<div></div> </br>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">
  <div class="row">
  <div class="alert alert-default alert-dismissible" role="alert">
  <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class="close" data-dismiss="alert"><span style="color: black;" aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <strong><i class="fa fa-warning"></i>FLASH-CJOB! </strong> <marquee><p style="font-family: Serif; font-size: 12pt;color: #fff;"> <b> NE PAYER JAMAIS A PERSONNE,SOUS AUCUN PRETEXTE,UNE QUELCONQUE SOMME D'ARGENT POUR UN TEST DE CANDIDATURE OU UNE ENTREVUE. (ALCALIS TECHNOLOGIES) </b> </p></marquee>
</div>
  </div> 
</h1>
 {% if  erreurForm is defined %}
 <div class="alert alert-danger text-center" role="alert">
  Erreur identifiants
</div>
{% endif %}

<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-heading">
        <h2 class="text-center"> Connectez-vous</h2>
      </div>
      <div class="modal-body"> 
      	{{ form_start(form) }}
        <form action="{{ path("client")}}" method="POST">
          {# {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %} #}
          <div class="form-group">
          	<label for="username">{{ 'Numero de téléphone'|trans }}</label>
          
            <div class="input-group">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
              </span>
              {# <input type="text" class="form-control" placeholder="Numéro de téléphone"  id="username" name="username" value="{{ last_username }}" required="required" autocomplete="username" /> #}
              {{ form_widget(form.username) }}
            </div>
          </div>
          <div class="form-group">
          	<label for="username">{{ 'mot de passe'|trans }}</label>
          
            <div class="input-group">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
              </span>
              {# <input type="password" class="form-control" placeholder="Mot de passe" id="password" name="password" required="required" autocomplete="current-password" /> #}
              {{ form_widget(form.password)}}
            </div>

          </div>
          <div class="form-group">
           {#  <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> #}
           {{ form_widget(form.remenber) }} 
           <label for="remember_me">{{ 'Se souvenir de moi'|trans }}</label>
          </div>       

          <div class="form-group text-center">
            <input type="submit" id="_submit" name="submit" class="btn btn-primary btn-lg" value="{{ 'Connexion'|trans }}" />
          </div>
          <p class="text-primary text-center" >Vous n'avez pas de compte ? envoyer simplement par SMS </p>
          <p class="text-primary text-center" ><mark>CJOB au 98025</mark> 206 Fcfa/15 Jours</p>

          {# {% if error %}
             <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
 #}
          <p class="text-center" > <img src="{{asset('img/orangeMTN.jpg')}}" alt="operateurs"> </p>
        </form>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
 

</body>
</html>


{% endblock %}

